# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
bin
@eslint
@rollup
acorn-jsx
baseline-browsing
chalk
cros-spawn
@humanwhocodes
@types
ansi-styles
browserslist
color-name
debug
escape-string-regexp
@eslint-scope
estraverse
fdir
gensync
import-fresh
jscs
is-tokens
lodash.merge
natural-compare
path-key
postcss
react-refresh
shebang-command
tinyglob
which
word-wrap
yallist
@babel
@humanwhocodes
@vitejs
argparse
callsites
concat-map
deep-is
eslint
espree
fast-deep-equal
find-up
glob-parent
isexe
json-buffer
keyv
minimatch
optionator
picomatch
punycode
resolve-from
rollup
source-map-js
update-browserslist-db
@esbuild
@ridgewell
acom
balanced-match
camelcase-lite
convert-source-map
electron-to-chromium
eslint-plugin-react-hooks
esquery
fast-json-stable-stringify
flat-cache
has-flag
is-glob
json-schema-traverse
levn
mrs
parent-module
p-limit
react
scheduler
strip-json-comments
util-js
yos
esbuild
eslint-plugin-react-refresh
execure
fast-json-stable-stringify-without-jsonify
flatted
ignore
is-glob
json-stable-stringify-without-jsonify
locate-path
nanoid
path-exists
p-locate
react-dom
semver
supports-color
vite
package-lock.json
vite-temp
@eslint-community
@rollup
ajv
brace-expansion
color-convert
cstype
escalade
@eslint-visitor-keys
euitls
file-entry-cache
globals
murmurhash
json5
js-yaml
lru-cache
node-releases
picocolors
prelude-js
resolve-from
shebang-regex
type-check

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
